.layout{
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 90%;
    margin: auto;
    
}

@media only screen and (max-width:460px) {
     .layout{
        display: block;
        
     }
}